# --- Common --- #
create_resource_group = <true>
resource_group_name   = "<tfe-resource-group-name>"
location              = "<azure-region>"
friendly_name_prefix  = "<sandbox>"
common_tags = {
  App   = "TFE"
  Env   = "<sandbox>"
  Owner = "<TeamName>"
}

# --- Bootstrap --- #
bootstrap_keyvault_name                    = "<bootstrap-keyvault-name>"
bootstrap_keyvault_rg_name                 = "<bootstrap-keyvault-resource-group-name>"
tfe_license_keyvault_secret_id             = "<https://tfe-license-keyvault-secret-id>"
tfe_tls_cert_keyvault_secret_id            = "<https://tfe-cert-keyvault-secret-id>"
tfe_tls_privkey_keyvault_secret_id         = "<https://tfe-private-key-keyvault-secret-id>"
tfe_tls_ca_bundle_keyvault_secret_id       = "<https://tfe-custom-ca-bundle-keyvault-secret-id>"
tfe_encryption_password_keyvault_secret_id = "<https://tfe-encryption-password-keyvault-secret-id>"

# --- TFE config settings --- #
tfe_fqdn                 = "<tfe.azure.example.com>"
tfe_image_tag            = "<v202502-1>"     # TFE version, refer to https://developer.hashicorp.com/terraform/enterprise/releases
tfe_operational_mode     = "<active-active>" # `active-active` or `external`. refer to https://developer.hashicorp.com/validated-designs/terraform-solution-design-guides-terraform-enterprise/architecture#deployment-topologies
tfe_capacity_concurrency = <10>              # Maximum number of Terraform runs that can execute concurrently on each Terraform Enterprise node. Defaults to 10.
tfe_capacity_cpu         = <0>               # Maximum number of CPU cores a Terraform run is allowed to use. Set to 0 for no limit. Defaults to 0
tfe_capacity_memory      = <2048>            # Maximum amount of memory (MiB) a Terraform run is allowed to use. Defaults to 2048
tfe_metrics_enable       = <false>
tfe_metrics_http_port    = <9090>
tfe_metrics_https_port   = <9091>

# --- Networking --- #
vnet_id         = "<tfe-vnet-id>"
lb_subnet_id    = "<tfe-load-balancer-subnet-id>"
lb_is_internal  = <true>
lb_private_ip   = "<10.0.1.20>" # available IP address from `lb_subnet_id`
vm_subnet_id    = "<tfe-vm-subnet-id>"
db_subnet_id    = "<tfe-database-subnet-id>"
redis_subnet_id = "<tfe-redis-subnet-id>"

# --- DNS (optional) --- #
create_tfe_private_dns_record = <true>
private_dns_zone_name         = "<example.com>"
private_dns_zone_rg_name      = "<private-dns-zone-resource-group-name>"

# --- Compute --- #
vmss_instance_count = <1>                 # optionally bump up to a max of 3 after successful installation
vm_ssh_public_key   = "<ssh-rsa AAAA...>"
vm_os_image         = "<redhat9>"         # `redhat9`, `redhat8`, or `ubuntu2404`, `ubuntu2204`. Redhat will use Podman for the container runtime and Ubuntu will use Docker
container_runtime   = "<podman>"          # Required. if `vm_os_image` is `redhat*` this can be `podman` or `docker`. If `vm_os_image` is set to `ubuntu*`, this must be `docker`
docker_version      = "<28.0.1>"          # optionally set the Docker version if desired
vm_sku              = "<Standard_D4s_v4>" # VM SKU to use. Refer to https://developer.hashicorp.com/validated-designs/terraform-solution-design-guides-terraform-enterprise/terraform-based-tfe-install under Azure
vm_admin_username   = "<tfeadmin>"

# --- Database --- #
tfe_database_password_keyvault_secret_name = "<tfe-database-password-secret-name>"
postgres_enable_high_availability          = <true>
postgres_geo_redundant_backup_enabled      = <true>
postgres_administrator_login               = "<tfeadmin>"
tfe_database_name                          = "<tfe>"
tfe_database_parameters                    = "<sslmode=require>"
postgres_version                           = "16"
postgres_sku                               = "<GP_Standard_D4ds_v4>"

# --- Redis --- #
redis_version = "7"

# --- Object storage --- #
storage_account_ip_allow = ["<192.168.1.20>"] # client/workstation you are running Terraform from (no subnet mask)

# --- Log forwarding (optional) --- #
tfe_log_forwarding_enabled      = <true>
log_fwd_destination_type        = "<log_analytics>"
log_analytics_workspace_name    = "<tfeloganalyticsworkspacename>"
log_analytics_workspace_rg_name = "<tfe-log-analytics-resource-group-name>"
